  <div class="container-box" style="display: flex; align-items: center; justify-content: space-between;">
      <a href="/admin" class="bttn bttn-pri">Dash</a><br>
      <a href="/admin/product-control" class="bttn bttn-pri">Product</a><br>
      <a href="/admin/user-control" class="bttn bttn-pri">User</a><br>
  </div>

