<div class="form-row">
    <div class="form-item">
    
        <select id="salutation" name="salutation">
          <option value="mr">Mr</option>
          <option value="mrs">Mrs</option>
          <option value="ms">Ms</option>
          <option value="no">No specification</option>
        </select>
      </div>
</div>
  
  <div class="form-row">

    <div class="form-item">
      <input type="text" name="fname" value="" placeholder="First Name *"/>
    </div>
    
  </div>

  <div class="form-row">

    <div class="form-item">
      <input type="text" name="lname" value="" placeholder="Last Name *"/>
    </div>

  </div>

  <div class="form-row">
    <div class="form-item">
      <input type="text" name="company" value="" placeholder="Company"/>
    </div> 
  </div>

  <div class="form-row">
    <div class="form-item">
      <input type="text" name="country" value="" placeholder="Country *"/>
    </div> 
  </div>

  <div class="form-row">

    <div class="form-item">
      <input type="text" name="postcode" value="" placeholder="Postcode *"/>
    </div>
  </div>

  <div class="form-row">

    <div class="form-item">
      <input type="text" name="city" value="" placeholder="City *"/>
    </div>
  </div>
    


  <div class="form-row">
    <div class="form-item">
      <input type="text" name="street" value="" placeholder="Street *"/>
    </div> 
  </div>

  <div class="form-row">
    <div class="form-item">
      <input type="text" name="address2" value="" placeholder="Address line 2"/>
    </div> 
  </div>

  <div class="form-row">
    <div class="form-item">
      <input type="text" name="phone" value="" placeholder="Phone *"/>
    </div> 
  </div>


  
  