<h2 class="text-danger font-weight-bold">**Account Blocked**</h2>

<h4>Dear Jake,</h4>

<p class="text-secondary">

We regret to inform you that your account has been blocked by our administrative team <br> 
due to certain violations of our policies or terms of service. This action has been taken <br>
to maintain the integrity and security of our platform. If you believe that this action has <br>
been taken in error or if you have any concerns, please feel free to contact our support <br> 
team at <span data-toggle="tooltip" data-placement="top" title="Click to save link to cilpboard" onclick="copy(this)" style="cursor: pointer;" class="text-dark font-weight-bold" id="copyLink">



mirageofficial.intl@gmail.com 

</span> <br>
Our team will be happy to assist you and address any questions or issues you may have. <br>
Thank you for your understanding.

</p>

<h6>
Sincerely,
<br>
MIRAGE
</h6>

<script>

function copy(that){
var inp =document.createElement('input');
document.body.appendChild(inp)
inp.value =that.textContent
inp.select();
document.execCommand('copy',false);
inp.remove();
}

</script>