<div class="footer-usps-box">

    <div class="ad-box">
        <i style="font-size: 1.8em;" class="  bi bi-backpack"></i>
        <h6 class="ad-head">The finest edit in luxury</h6>
        <p class="text-secondary" style="font-size: .66rem;">Finest edit of more than 200 international luxury brands</p>
    </div>

    <div class="ad-box">
        <i style="font-size: 1.8em;" class="  bi bi-scissors"></i>
        <h6 class="ad-head">Designer collaborations</h6>
        <p class="text-secondary" style="font-size: .66rem;">Exclusive capsule collections that you won't find anywhere else</p>
    </div>

    <div class="ad-box">
        <i style="font-size: 1.8em;" class="  bi bi-truck"></i>
        <h6 class="ad-head">Fast delivery</h6>
        <p class="text-secondary" style="font-size: .66rem;">Delivery to over 130 countries</p>
    </div>

</div>

<div class="detail-footer">

    <h6>Get trend updates, style tips and more. Follow us</h6>
    <div class="line"></div>
    <div class="about-footer">
        <div class="about-card">About us</div>
        <div class="about-card">Contact Us</div>
        <div class="about-card">Customer Service</div>
        <div class="about-card">Privacy Policy</div>
        <div class="about-card">Customer copy</div>
        <div class="about-card">Privacy Policy</div>
        <div class="about-card"><a href="mailto:mirageofficial.intl@gmail.com"><i class="bi bi-envelope-at"></i></a></div>
        <div class="about-card"><a style="color: red;" target="_blank" href="https://instagram.com/mirage.official_?igshid=MzRlODBiNWFlZA=="><i class="bi bi-instagram"></i></a></div>
    </div>


</div>

<div class="github-footer" style="text-align: center; background-color: rgb(252, 252, 252);">
made with <i class="bi bi-heart-fill text-danger"></i> by <a class="animated-link" target="_blank" href="https://github.com/MinhajHam"> Minhaj Hameed <i class="bi bi-github"></i></a>
</div>

<style>

.footer-usps-box {
    display: flex;
    justify-content: space-around;
    width: 100%;

    border-top: solid .5px rgb(196, 196, 196);
    border-bottom: solid .5px rgb(196, 196, 196);
}

.ad-box {
    text-align: center;
    padding: 2px;
    width: 12rem;
    height: 8rem;
    margin: 1em;
}

.ad-head {
    margin-top: 0.5em;
    font-size: .8rem;
}

.detail-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    background: rgb(232, 235, 236);
    height: 10em;
    border-bottom: solid .5px rgb(196, 196, 196);
}

.line {
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;
    width: 30%;
    border: solid .5px black;
}

.about-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 10rem;
    width: 60%;
}


.about-card {
    height: 2rem;
    width: 30%;
}


</style>