<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
      <a class="sidebar-brand brand-logo" href="/admin"><img src="assets/images/logo.svg" alt="logo" /></a>
      <a class="sidebar-brand brand-logo-mini" href="/admin"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">
      
      <li class="nav-item nav-category">
        <span class="nav-link">..</span>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin">
          <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
          </span>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>

      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/product-control">
          <span class="menu-icon">
            <i class="mdi mdi-cube"></i>
          </span>
          <span class="menu-title">Product</span>
        </a>
      </li>

      <li class="nav-item menu-items">
        <a class="nav-link" data-bs-toggle="collapse" href="#user-basic" aria-expanded="false" aria-controls="user-basic">
          <span class="menu-icon">
            <i class="mdi mdi-ghost"></i>
          </span>
          <span class="menu-title">User</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="user-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/admin/user-control/user">view</a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/user-control/order">Order</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item menu-items">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
          </span>
          <span class="menu-title">Banner</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/admin/mens-banner">mens</a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/womens-banner">womens</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item menu-items">
        <a class="nav-link" href="#">
          <span class="menu-icon">
            <i class="mdi mdi-power"></i>
          </span>
          <span class="menu-title">Logout</span>
        </a>
      </li>
      
    </ul>
  </nav>