<div>
  <!-- <div class="banner-container">
<img src="/images/banner1.png" alt="banner description" />
</div> -->

<div class="img-container text-center">
  <img src="/images/main1.png" alt="Image description" class="img-fluid" />
  <div class="centered-title">
      Your title Here
  </div>
  <div class="centered-text">
    Your Text Here Here Here
</div>
</div>


<div class="row-box">
  <div class="row">
      <div style="width: 100%;">
          <div class="w-100">
              <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                      <!-- First Post -->
                      <div class="carousel-item active">
                          <div class="row">
                              <div class="col-3">
                                  <div class="card">
                                      <div class="card-img-top" style="background-image: url('/images/main.png'); background-size: cover; background-position: center; height: 200px;"></div>
                                      <div class="card-body">
                                          <h5 class="card-title">Image 1</h5>
                                          <p class="card-text">Description for Image 1.</p>
                                      </div>
                                  </div>
                              </div>

                              <!-- Repeat similar card structure for Images 2, 3, and 4 -->
                              <div class="col-3">
                                  <div class="card">
                                      <div class="card-img-top" style="background-image: url('/images/main1.png'); background-size: cover; background-position: center; height: 200px;"></div>
                                      <div class="card-body">
                                          <h5 class="card-title">Image 1</h5>
                                          <p class="card-text">Description for Image 1.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-3">
                                  <div class="card">
                                      <div class="card-img-top" style="background-image: url('/images/main.png'); background-size: cover; background-position: center; height: 200px;"></div>
                                      <div class="card-body">
                                          <h5 class="card-title">Image 1</h5>
                                          <p class="card-text">Description for Image 1.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-3">
                                  <div class="card">
                                      <div class="card-img-top" style="background-image: url('/images/main1.png'); background-size: cover; background-position: center; height: 200px;"></div>
                                      <div class="card-body">
                                          <h5 class="card-title">Image 1</h5>
                                          <p class="card-text">Description for Image 1.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Second Post -->
                      <div class="carousel-item">
                          <div class="row">
                              <div class="col-3">
                                  <div class="card">
                                      <div class="card-img-top" style="background-image: url('/images/main.png'); background-size: cover; background-position: center; height: 200px;"></div>
                                      <div class="card-body">
                                          <h5 class="card-title">Image 1</h5>
                                          <p class="card-text">Description for Image 1.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-3">
                                  <div class="card">
                                      <div class="card-img-top" style="background-image: url('/images/main1.png'); background-size: cover; background-position: center; height: 200px;"></div>
                                      <div class="card-body">
                                          <h5 class="card-title">Image 1</h5>
                                          <p class="card-text">Description for Image 1.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-3">
                                  <div class="card">
                                      <div class="card-img-top" style="background-image: url('/images/main.png'); background-size: cover; background-position: center; height: 200px;"></div>
                                      <div class="card-body">
                                          <h5 class="card-title">Image 1</h5>
                                          <p class="card-text">Description for Image 1.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-3">
                                  <div class="card">
                                      <div class="card-img-top" style="background-image: url('/images/main1.png'); background-size: cover; background-position: center; height: 200px;"></div>
                                      <div class="card-body">
                                          <h5 class="card-title">Image 1</h5>
                                          <p class="card-text">Description for Image 1.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <a class="carousel-control-prev" href="#imageCarousel" role="button" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#imageCarousel" role="button" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>





