<%- include('../temp_parts/layout_head.ejs') %>

  <body>
    <div class="container-scroller">
      
      <!-- partial:partials/_sidebar.html -->
      <%- include('../temp_parts/side_bar.ejs') %>

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <%- include('../temp_parts/nav_head.ejs') %>

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
             
            </div>
            <div class="row">
              <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <a href="">
                  <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center">
                          <h3 class="mb-0">User</h3>
                        </div>
                  </div>
                </a>
                </div>
              </div>


              <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <a href="/admin/user-control/order">
                  <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center">
                          <h3 class="mb-0">Order List</h3>
                        </div>
                  </div>
                </a>
                </div>
              </div>

             <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <a href="#">
                  <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center">
                          <h3 class="mb-0">PC</h3>
                        </div>
                  </div>
                </a>
                </div>
              </div>
              
            </div>
            
           

            <div class="container">
              <div class="row">
            
                    
                    <h2>USER-CONTROLLER</h2>

           
              </div>
            </div>
            
            


            



            <%- include('../temp_parts/layout_footer.ejs') %>

    
