

/* For the banner image */
.banner-container img {
  max-width: 100%; /* Ensure the image scales down with the viewport */
  height: auto;
}

/* For the other images */
.img-container img {
  max-width: 100%; /* Ensure the image scales down with the viewport */
  height: auto;
  display: block;
  margin: 0 auto;
}







.poster-container {
  display: flex;
  justify-content: space-between;
}



.poster-box {
  width: 45%;
  position: relative;
}

.poster-box {
  padding-bottom: 3%;
  width: 45%;
  height: 20%; /* Allow the image to adjust its height while maintaining aspect ratio */
  margin: 0 auto; /* Center the image horizontally within the container */
}