<h2>PAYMENT METHOD</h2>
<p>Please choose your payment method below.</p>
<br>




  
  <form action="/checkout/payment" method="post">
    <div class="radio-button">
      <input type="radio" id="bank" name="paymethod" value="bank">
      <label for="bank">Banking</label>
    </div>
    <br>
    <div class="radio-button">
      <input type="radio" id="paypal" name="paymethod" value="paypal">
      <label for="paypal">PayPal</label>
    </div>
    <br>
    <div class="radio-button">
      <input type="radio" id="cod" name="paymethod" value="cod">
      <label for="cod">C.O.D</label>
    </div>
    <br>
  
    <button type="submit" class="bttn bttn-pri" style="width: 100%;">PROCEED</button>
  </form>
  