<h2>PAYMENT METHOD</h2>
<p>Please choose your payment method below.</p>
<br>



<style>
    .radio-button {
      cursor: pointer;
    }
  
    .radio-button input[type="radio"] {
      display: none; /* Hide the radio input */
    }
  
    .radio-button label {
      text-align: center;
      display: block;
      padding: 10px;
      border: 2px solid #000; /* Default border color */
      background-color: transparent; /* Default background color */
    }
  
    .radio-button input[type="radio"]:checked + label {
      background-color: rgb(53, 73, 94); 
      color: wheat;
    }
  </style>
  
  <form action="/checkout/payment" method="post">
    <div class="radio-button">
      <input type="radio" id="bank" name="paymethod" value="bank">
      <label for="bank">Banking</label>
    </div>
    <br>
    <div class="radio-button">
      <input type="radio" id="paypal" name="paymethod" value="paypal">
      <label for="paypal">PayPal</label>
    </div>
    <br>
    <div class="radio-button">
      <input type="radio" id="cod" name="paymethod" value="cod">
      <label for="cod">C.O.D</label>
    </div>
    <br>
  
    <button type="submit" class="bttn bttn-pri" style="width: 100%;">PROCEED</button>
  </form>
  