<div>
  <!-- <div class="banner-container">
<img src="/images/banner1.png" alt="banner description" />
</div> -->

<div class="img-container text-center">
  <img src="/images/main3.png" alt="Image description" class="img-fluid" />
  <div class="centered-title">
      Your title Here
  </div>
  <div class="centered-text">
    Your Text Here Here Here
</div>
</div>


<div class="row-box">
  <div class="row">
      <div style="width: 100%;">
          <div class="w-100">
              <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                      <!-- First Post -->
                      <div class="carousel-item active">
                          <div class="row">
                              <div class="col-3">
                                  <div class="card">
                                      <div class="card-img-top" style="background-image: url('/images/main.png'); background-size: cover; background-position: center; height: 200px;"></div>
                                      <div class="card-body">
                                          <h5 class="card-title">Image 1</h5>
                                          <p class="card-text">Description for Image 1.</p>
                                      </div>
                                  </div>
                              </div>

                              <!-- Repeat similar card structure for Images 2, 3, and 4 -->
                              <div class="col-3">
                                  <div class="card">
                                      <div class="card-img-top" style="background-image: url('/images/main1.png'); background-size: cover; background-position: center; height: 200px;"></div>
                                      <div class="card-body">
                                          <h5 class="card-title">Image 1</h5>
                                          <p class="card-text">Description for Image 1.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-3">
                                  <div class="card">
                                      <div class="card-img-top" style="background-image: url('/images/main.png'); background-size: cover; background-position: center; height: 200px;"></div>
                                      <div class="card-body">
                                          <h5 class="card-title">Image 1</h5>
                                          <p class="card-text">Description for Image 1.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-3">
                                  <div class="card">
                                      <div class="card-img-top" style="background-image: url('/images/main1.png'); background-size: cover; background-position: center; height: 200px;"></div>
                                      <div class="card-body">
                                          <h5 class="card-title">Image 1</h5>
                                          <p class="card-text">Description for Image 1.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Second Post -->
                      <div class="carousel-item">
                          <div class="row">
                              <div class="col-3">
                                  <div class="card">
                                      <div class="card-img-top" style="background-image: url('/images/main.png'); background-size: cover; background-position: center; height: 200px;"></div>
                                      <div class="card-body">
                                          <h5 class="card-title">Image 1</h5>
                                          <p class="card-text">Description for Image 1.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-3">
                                  <div class="card">
                                      <div class="card-img-top" style="background-image: url('/images/main1.png'); background-size: cover; background-position: center; height: 200px;"></div>
                                      <div class="card-body">
                                          <h5 class="card-title">Image 1</h5>
                                          <p class="card-text">Description for Image 1.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-3">
                                  <div class="card">
                                      <div class="card-img-top" style="background-image: url('/images/main.png'); background-size: cover; background-position: center; height: 200px;"></div>
                                      <div class="card-body">
                                          <h5 class="card-title">Image 1</h5>
                                          <p class="card-text">Description for Image 1.</p>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-3">
                                  <div class="card">
                                      <div class="card-img-top" style="background-image: url('/images/main1.png'); background-size: cover; background-position: center; height: 200px;"></div>
                                      <div class="card-body">
                                          <h5 class="card-title">Image 1</h5>
                                          <p class="card-text">Description for Image 1.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <a class="carousel-control-prev" href="#imageCarousel" role="button" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#imageCarousel" role="button" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="threetopics">
  <div class="topic-head">

    <div class="topic-img-text">
      <div class="banner-side-title"> THE MODERN CHELSEA</div>
      <div class="banner-side-param">An enduring style with fresh treads and touches</div>
    </div>

    <div class="topic-img-text">
      <div class="banner-side-title"> THE MODERN CHELSEA</div>
      <div class="banner-side-param">An enduring style with fresh treads and touches</div>
    </div>

  </div>
  <div class="topic-img">

      <div class="topic-img-main"></div>

      <div class="topic-img-side">
          <div class="side-img"></div>
          <div class="topic-img-text">
            <div class="banner-side-title">DAY-TO-DAY DETAILS</div>
            <div class="banner-side-param">Redefine routine with impeccably crafted flats</div>
          </div>
          <div class="side-img"></div>
      </div>

  </div>
</div>

<div class="threetopics">
  <div class="topic-head">

    <div class="topic-img-text">
      <div class="banner-side-title"> THE MODERN CHELSEA</div>
      <div class="banner-side-param">An enduring style with fresh treads and touches</div>
    </div>

    <div class="topic-img-text">
      <div class="banner-side-title"> THE MODERN CHELSEA</div>
      <div class="banner-side-param">An enduring style with fresh treads and touches</div>
    </div>

  </div>
  <div class="topic-img">

      <div class="topic-img-side">
          <div class="side-img"></div>
          <div class="topic-img-text">
            <div class="banner-side-title"> THE MODERN CHELSEA</div>
            <div class="banner-side-param">An enduring style with fresh treads and touches</div>
          </div>
          <div class="side-img"></div>
      </div>

      <div class="topic-img-main"></div>

  </div>
</div>

<style>

.centered-text {
    color: wheat;
    font-size: 2rem;
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.centered-title {
    color: wheat;
    font-size: 1rem;
    width: 30vw;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

}


  .threetopics {
      display: flex;
      flex-direction: column;
  }

  .topic-head {
      display: flex;
      width: 100%;
      height: 20vh;
      /* border: solid 2px green; */
  }

  .topic-img {
      display: flex;
      width: 100%;
      height: 120vh;
      /* border: solid 2px green; */
  }

  .topic-img-main {
      background-size: cover; 
      background-position: center;
      background-image: url('/images/hh.png');
      margin: .5em;
      width: 50%;
      height: 100%;
      /* border: solid 2px blue; */
  }

  .topic-img-side {
      margin: .5em;
      width: 50%;
      height: 100%;
      /* border: solid 2px red; */
  }

  .side-img {
    padding: 1em;
      background-size: cover; 
      background-position: center;
      background-image: url('/images/bott1.jpg');
      width: 100%;
      height: 50vh;
      /* border: solid 2px yellow; */
  }
  .topic-img-text {
      padding: 1rem;
      width: 100%;
      height: 20vh;
      /* border: solid 2px purple; */
  }
  .banner-side-title {
    text-align: center;
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  .banner-side-param {
    text-align: center;
    font-size: 1.85rem;
    font-weight: 500;
  }
</style>
